# Android / Gradle
*.iml
.gradle/
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# Android Studio / IntelliJ
.idea/
*.hprof

# Secrets / signing (ne JAMAIS committer)
*.keystore
*.jks
keystore.properties
google-services.json

# Artefacts
*.apk
*.aab

# OS
.DS_Store
Thumbs.db
